body {
    background-image: url("https://raw.githubusercontent.com/doryan-meunier/amongLegend/main/images/howlingAbyss.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    background-position-y: 35%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    margin-left: 2rem;
}
.role-card {
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.role-card img {
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-bottom: 1px solid #000; /* Ajoute une bordure noire en bas */
}

.role-info {
    padding: 20px;
}

.role-info h2 {
    margin: 0;
    font-size: 24px;
    color: #000000;
}

.role-info p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #000000;
}