body {
    background-image: url("https://raw.githubusercontent.com/doryan-meunier/amongLegend/main/images/rejoindrePartie/fd rejoindrePartie.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    background-position-y: 35%;
    background-color: rgb(46, 54, 48);
}
h3 {
    text-align: center;
    margin-top: 50px; /* Ajustez selon vos besoins pour positionner le titre verticalement */
    color:aliceblue;
}

.conteneur-encadrement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encadrement-cartes {
    border: 1px solid #ccc; /* Couleur de la bordure de l'encadrement */
    padding: 20px;
    border-radius: 10px; /* Rayon des coins de l'encadrement */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; /* Ombre de l'encadrement */
    width: 300px; /* Ajustez selon la largeur souhaitée pour chaque carte */
    margin: 20px;
}

.card-header,
.card-body {
    text-align: center; /* Centrer le texte à l'intérieur de la card */
}
.conteneur-global {
    margin: 0 auto; /* Centrer le contenu */
    max-width: 800px; /* Ajustez selon la largeur souhaitée */
    padding: 20px; /* Ajoutez un espace intérieur pour la lisibilité */
}
.conteneur-card {
    background-color: rgba(65, 63, 63, 0.438);
    margin: 0 auto; /* Centrer le contenu */
    max-width: 800px; /* Ajustez selon la largeur souhaitée */
    padding: 20px; /* Ajoutez un espace intérieur pour la lisibilité */

}
.card {
    width: 400px; /* Ajustez la largeur selon vos préférences */
    margin: 20px;
}